# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Database & Uploads
data/db.json
uploads/

# Cloudflare Wrangler Cache
.wrangler/
.mf/

# OS & Temp Files
.DS_Store
Thumbs.db
*.tmp
